<h2>Edit Bulk Discount</h2>

<%= render partial: 'form', locals: {path: "/merchant/#{@merchant.id}/bulk_discounts/#{@bulk_discount.id}", method: :patch, button_text: "Update bulk discount", quantity_threshold: "#{@bulk_discount.quantity_threshold}", percentage: "#{@bulk_discount.percentage}"} %>
