<h2>Create New Bulk Discount</h2>

<%= render partial: 'form', locals: {path: "/merchant/#{@merchant.id}/bulk_discounts", method: :post, button_text: "Create Bulk Discount", quantity_threshold: '', percentage: ''} %>